
 <section class = "start-game">

     <div class = "background full-screen"></div> 
     <div class = "link-to-game">
        <button-animated-one routerLink="/game" text = "Start the game!"></button-animated-one>
     </div>

     <div class = "copyright">
         © Made by Arturo AND Nacho
     </div>

</section>