
.start-game {
    .background {
        height: 100%;
        width: 100%;
        background-image: url('/assets/img/wp1_duetone.png');
        background-size: cover;
    }

    .link-to-game {
        button-animated-one {
            height: 4em;
            width: 280px;
            margin: auto;
            position: absolute;
            top: calc(50% - 2em);
            left: calc(50% - 140px);
        }  
    }
    
}