<h2>Do you think {{actualCelebrity?.fullName}} is dead or alive?</h2>
<p>
  <a [href] = "actualCelebrity?.celebrityInfoUrl" target = "_blank">
    Who is {{ actualCelebrity?.fullName }}
  </a> 
</p>
<p>
  <img [src]="actualCelebrity?.pictureUrl" [title] = "actualCelebrity?.fullName">
</p>


<section>
  <button (click) = "reply(Reply.DEAD)"> Dead </button>
  <button (click) = "reply(Reply.ALIVE)"> Alive </button>
  <button (click) = "reply(Reply.UNKNOWN)"> Unknown </button>
</section>
  
<app-countdown [goalSeconds] = "secondsToGoal" (finished) = "countdownFinish()" ></app-countdown>



