<a class="btn">
  <svg width="277" height="62">
    <defs>
        <linearGradient id="grad1">
            <stop offset="0%" stop-color="#FF8282"/>
            <stop offset="100%" stop-color="#E178ED" />
        </linearGradient>
    </defs>
    <rect x="5" y="5" rx="25" fill="none" stroke="#fff" width="266" height="50"></rect>
  </svg>
  <span> {{ text }} </span>
</a>
